@font-face {
  font-family: 'Refinery 95 Bold';
  src: url('../fonts/Refinery-95-Bold.woff2');
  src: local('Refinery 95 Bold'),
    url('../fonts/Refinery-95-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2');
  src: local('Helvetica Neue'),
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamProMedium.woff2');
  src: local('Gotham Pro Medium'),
    url('../fonts/GothamPro/GothamProMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamProBold.woff2');
  src: local('Gotham Pro Bold'),
    url('../fonts/GothamPro/GothamProBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro.woff2');
  src: local('Gotham Pro'),
    url('../fonts/GothamPro/GothamPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Ramillas Trl';
  src: url('../fonts/tt_ramillas/TTRamillasTrialRegular.woff2');
  src: local('TT Ramillas Trl'),
    url('../fonts/tt_ramillas/TTRamillasTrialRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Ramillas Trl';
  src: url('../fonts/tt_ramillas/TTRamillasTrialMedium.woff2');
  src: local('TT Ramillas Trl'),
    url('../fonts/tt_ramillas/TTRamillasTrialMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Ramillas Trl Variable Italic';
  src: url('../fonts/tt_ramillas/TTRamillasTrialRegular.woff2');
  src: local('TT Ramillas Trl Variable Italic'),
    url('../fonts/tt_ramillas/TTRamillasTrialRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.woff2');
  src: local('Gilroy'),
    url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Medium.woff2');
  src: local('Gilroy'),
    url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/GilroyBold.woff2');
  src: local('Gilroy'), url('../fonts/Gilroy/GilroyBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
