@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1600px) {
  .solutions {
    .solutions-wrapper h2 {
      font-size: clamp(28px, 4.69vw, 90px);
    }

    .solutions-photo {
      right: 50px;
    }

    .solutions-ellipse {
      right: 50px;
    }
  }
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1200px) {
  .situations {
    padding: 0px 50px 40px;
    .container {
      gap: 30px;
      padding: 30px;
    }

    .situations-list {
      grid-template-columns: repeat(2, 1fr);
    }
    .situations-list li {
      padding: 30px;
    }
    .situations-list li:nth-of-type(2),
    .situations-list li:nth-of-type(4) {
      border-right: none;
    }
    .situations-list li:nth-of-type(1),
    .situations-list li:nth-of-type(2),
    .situations-list li:nth-of-type(4),
    .situations-list li:nth-of-type(3) {
      border-bottom: 1px solid #e6e6e6;
    }
    .situations-list li:nth-of-type(1),
    .situations-list li:nth-of-type(3),
    .situations-list li:nth-of-type(5) {
      border-right: 1px solid #e6e6e6;
    }
    .situations-list h3 {
      font-size: 18px;
    }
    .situations-list img {
      width: 11vw;
    }
  }
  .steps {
    padding: 40px 30px;
    .container {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .steps-wrapper {
      gap: 20px;
    }

    .steps-list li {
      padding: 40px 0px;
      align-items: flex-start;
    }
    .steps-list li span {
      font-size: clamp(32px, 6.68vw, 80px);
    }
  }
  .solutions {
    padding: 60px 50px;
    .container {
      height: 540px;
      padding: 40px;
      justify-content: flex-start;
      gap: 40px;
    }

    .solutions-wrapper {
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
    .solutions-wrapper h2 {
      padding-bottom: 25px;
      max-width: 950px;
      max-width: 60%;
      font-size: 90px;
      font-size: clamp(28px, 4.69vw, 90px);
    }

    .solutions-name {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .solutions-name h3 {
      font-size: 60px;
    }
    .solutions-name p {
      font-size: 20px;
    }
    .solutions-photo {
      position: absolute;
      bottom: -177px;
      right: 50px;
      width: 460px;
      z-index: 4;
    }

    .solutions-ellipse {
      position: absolute;
      width: 420px;
      right: 50px;
    }
    .solutions-name h3 {
      font-size: 42px;
    }
    .solutions-name p {
      font-size: 16px;
    }
  }

  .specialization {
    padding: 60px 0;
    overflow: hidden;
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .specialization-wrapper {
      grid-column: 2 / 3;
    }

    .specialization-wrapper h2 {
      display: inline-block;
      padding: 10px;
      background: var(--accent-color);
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 90%;
      text-transform: uppercase;

      color: var(--light-color);
    }
    .specialization-wrapper h3 {
      margin-top: 10px;
      font-size: clamp(28px, 4.2vw, 80px);
    }

    .specialization-list__item {
      padding: 40px 0px;
      grid-template-columns: minmax(0, 300px) 1fr;
    }

    .specialization-list__item:hover::after {
      background: var(--text-color);
    }

    .specialization-list__number {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 30px;
      line-height: 90%;
      text-transform: uppercase;

      color: var(--text-color);
      transition: font-size 0.8s ease, color 0.5s ease;
    }
    .specialization-list__box {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 24px;
    }
    .specialization-list__box h4 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 35px;
      line-height: 90%;
      text-transform: uppercase;

      color: var(--text-color);

      transition: color 0.5s ease;
    }
    .specialization-list__box p {
      max-width: 674px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: var(--text-color);
      transition: color 0.5s ease;
    }
    .specialization-list__btn {
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .specialization-list__item:hover {
      .specialization-list__box h4 {
        color: var(--accent-color);
      }
      .specialization-list__box p {
        color: var(--light-color);
      }
      .specialization-list__number {
        font-size: 200px;
        color: var(--accent-color);
      }
      .specialization-list__btn {
        display: block;
        opacity: 1;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .solutions {
    padding: 60px 50px;
    .container {
      height: 720px;
      padding: 20px;
      justify-content: flex-start;
      gap: 20px;
    }

    .solutions-wrapper {
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
    .solutions-wrapper h2 {
      max-width: 100%;
      text-align: center;
    }

    .solutions-name h3 {
      font-size: 36px;
    }
    .solutions-name p {
      font-size: 20px;
    }
    .solutions-photo {
      bottom: 0;
      right: 22%;
      width: 360px;
    }

    .solutions-ellipse {
      width: 300px;
      right: 22%;
      bottom: 210px;
    }
    .solutions-name h3 {
      font-size: 42px;
    }
    .solutions-name p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 0 12px;
  }

  .situations {
    padding: 0px 12px 20px;
    .container {
      gap: 20px;
      padding: 12px;
    }
    .situations-title {
      font-size: 28px;
    }
    .situations-list li {
      padding: 12px;
      gap: 12px;
      flex-direction: column-reverse;
    }
    .situations-list h3 {
      font-size: 12px;
      align-self: start;
    }
    .situations-list img {
      width: 82px;
    }
  }

  .steps {
    padding: 40px 30px;
    .container {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .steps-wrapper {
      gap: 20px;
    }

    .steps-list li {
      padding: 20px 0px;
      gap: 20px;
    }

    .steps-list__text h3 {
      font-size: 18px;
    }
    .steps-list__text p {
      font-size: 16px;
    }
  }

  .solutions {
    padding: 30px 12px;
    .container {
      height: 580px;
      padding: 20px;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
    }
    .solutions-logo {
      width: 140px;
      height: 42px;
    }

    .solutions-name h3 {
      font-size: 36px;
    }
    .solutions-name p {
      font-size: 20px;
    }
    .solutions-photo {
      bottom: 0;
      right: 35px;
      width: 254px;
    }
    .solutions-ellipse {
      width: 255px;
      right: 35px;
      bottom: 110px;
    }
    .solutions-name h3 {
      font-size: 30px;
    }
    .solutions-name p {
      font-size: 10px;
    }
  }
}
